/*body*/
body {
    padding: 0;
    font-size: 14px;
	font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
	color: #444
}
/*导航条*/

@font-face {
	font-family: 'link-set';
	src:url('../fonts/link-set.eot');
	src:url('../fonts/link-set.eot') format('embedded-opentype'),
		url('../fonts/link-set.ttf') format('truetype'),
		url('../fonts/link-set.woff') format('woff'),
		url('../fonts/link-set.svgt') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'link-set';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wd-breadcrumb .section-header {
    height: 40px;
}

.wd-breadcrumb .breadcrumb {
    padding: 0;
    padding: 0 0 0 10px;
}


/*查询区*/

.wd-formBox {
    width: 100%;
    border-top: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
}

    .wd-formBox th {
        width: 10%;
        text-align: right;
        background: #f8f8f8;
        color: #666;
        padding: 4px;
        border-right: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
    }

    .wd-formBox td {
        padding: 0 0 0 4px;
        width: 23.3%;
        border-right: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
    }

    .wd-formBox .wd-formBox-Layout th,
    td {
        padding: 0px;
    }

.wd-formBox-btn {
    height: 50px;
}

    .wd-formBox-btn button {
        height: 30px;
        line-height: 30px;
        padding: 0 10px 0 4px;
        margin: 0 10px 0 0;
    }

        .wd-formBox-btn button i {
            margin-right: 6px;
        }


/*通用查询区*/

.wd-searchBox {
    width: 100%;
    border-left: 1px solid #eee;
    border-bottom:1px solid #eee;
}

    .wd-searchBox th {
        width: 10%;
        text-align: right;
        background: #f8f8f8;
        color: #666;
        padding: 4px;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        text-align: center;
    }

    .wd-searchBox tbody tr td {
        /*float: left;*/
        margin-right: 30px;
        margin-bottom: 5px;
        padding:4px;
        line-height: 22px;
    }
    .wd-searchBox  select{
    	margin-right: 5px;
	    height: 25px
}



.wd-searchArea {
    margin-bottom: 16px;
    margin-top: 38px;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: #fff;
}

    .wd-searchArea .card-head header {
        /*background:#2DBD9B;*/
        padding: 0px 0px 0px 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .wd-searchArea .card-head {
        /*background:#2DBD9B;*/
        padding: 1px 0px 1px 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-bottom: 2px solid #2DBD9B;
    }

.wd-searchBtn {
    height: 26px;
    float: left;
    width: 100%;
    box-shadow: none;
    margin-bottom: 4px;
}

    .wd-searchBtn button {
        height: 26px;
        padding: 0px 6px 0 6px;
    }

.wd-searchList .style-primary {
    height: 30px;
    line-height: 30px;
    background: #2DBD9B;
}

.wd-gd-stutas {
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
}

.wd-searchList tbody td {
    height: 24px;
    line-height: 24px;
    padding: 0;
}

    .wd-searchList tbody td button {
        height: 24px;
        padding: 0;
        line-height: 24px;
        width: 24px;
        margin: 0;
    }

    .wd-searchList tbody td .fa,
    .wd-searchList tbody td .md {
        line-height: 24px;
    }

.pcontent {
    width: 100%;
    /*margin-top: 60px;*/
    float: left;
}

    .pcontent .wd-content-box {
        width: 100%;
        padding: 10px 10px 0 10px;
    }

.alert {
    padding: 15px;
    margin-bottom: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.card {
    position: relative;
    margin-bottom: 14px;
    background-color: #ffffff;
    color: #313534;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.alert {
    padding: 15px;
    margin-bottom: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
}




/**
-------------------------------------------
BREADCRUMB
-------------------------------------------
**/
.breadcrumb {
    background-color: #F5F7FA;
}

    .breadcrumb > li + li:before {
        color: #CCD1D9;
    }

    .breadcrumb > .active {
        color: #AAB2BD;
    }

    .breadcrumb.sm {
        padding: 8px 10px;
        border-radius: 2px;
        font-size: 13px;
    }

    .breadcrumb.lg {
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 16px;
    }

    .breadcrumb.square {
        border-radius: 0px;
    }

    .breadcrumb.rsaquo > li + li:before {
        content: "\203A";
    }

    .breadcrumb.primary a,
    .breadcrumb.success a,
    .breadcrumb.info a,
    .breadcrumb.danger a,
    .breadcrumb.warning a,
    .breadcrumb.dark a {
        color: #fff;
    }

    .breadcrumb.primary > .active,
    .breadcrumb.success > .active,
    .breadcrumb.info > .active,
    .breadcrumb.danger > .active,
    .breadcrumb.warning > .active,
    .breadcrumb.dark > .active {
        color: #fff;
        color: rgba(255,255,255,0.7);
    }

    .breadcrumb.primary > li + li:before,
    .breadcrumb.success > li + li:before,
    .breadcrumb.info > li + li:before,
    .breadcrumb.danger > li + li:before,
    .breadcrumb.warning > li + li:before,
    .breadcrumb.dark > li + li:before {
        color: #F5F7FA;
    }

    .breadcrumb.default {
        background-color: #fff;
    }

    .breadcrumb.primary {
        background-color: #37BC9B;
    }

    .breadcrumb.success {
        background-color: #8CC152;
    }

    .breadcrumb.info {
        background-color: #3BAFDA;
    }

    .breadcrumb.danger {
        background-color: #E9573F;
    }

    .breadcrumb.warning {
        background-color: #F6BB42;
    }

    .breadcrumb.dark {
        background-color: #434A54;
    }

.panel-title {
    position: fixed;
    top: 0px;
    z-index: 98;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e2eaec;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    margin-bottom:10px;
}

    .panel-title > .main {
        padding-right: 85px;
        padding-left: 20px;
    }

.btn {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    margin-right: 10px;
    border: 1px solid #ced6d8;
    padding: 0 14px;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: #333;
}



.btn.fr {
    margin-left: 12px;
    margin-right: 0;
}

.btn-hollow {
    background: #fff !important;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}

.btn-sm {
    height: 28px;
    line-height: 26px;
    padding: 0 10px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.btn
{
	display:inline-block;
	height:34px;
	line-height:34px;
	border-radius:3px;
	margin-right:10px;
	border:1px solid #ced6d8;
	background:#fff;
	font-size:14px;
	cursor:pointer;
	position:relative;
	white-space:nowrap;
	color:#333;
	padding:0 14px;
}


/**
-------------------------------------------
INPUT FILE
-------------------------------------------
**/
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: left;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}
input[readonly] {
	background-color: white !important;
	cursor: text !important;
}


.btn:hover
{
	color:#333;
	border-color:#bac2c4;
}

.btn>.status
{
	margin-left:5px;
	margin-right:0;
	color:#fff;
}

.btn>span
{
	color:#9B9B9B;
	margin-left:5px;
}

.btn.fr
{
	margin-left:12px;
	margin-right:0;
}

.btn-sm
{
	height:28px;
	line-height:26px;
	font-size:12px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 10px;
}

.btn-hollow
{
	background:#fff!important;
	-webkit-transition:all ease .2s;
	-moz-transition:all ease .2s;
	-o-transition:all ease .2s;
	transition:all ease .2s;
}

.btn-group .btn
{
	float:left;
	position:relative;
	z-index:0;
	margin:0 0 0 -1px;
}

.btn-group .btn:not(:first-child):not(:last-child)
{
	border-radius:0;
}

.btn-group .btn.active
{
	color:#fff;
	background:#21d376;
	z-index:2;
}

.btn-green,.btn.green,.page-number .active>a
{
	background:#21d376;
	color:#fff;
	border-color:#21d376;
}

.btn-green.btn-hollow,.btn.green.btn-hollow,.sub-switch-menu li>a:hover
{
	color:#0dbf62;
}

.btn-green:hover,.btn.green:hover
{
	background:#2bdd80;
	color:#fff;
	border-color:#21d376;
}

.btn-green.btn-hollow:hover,.btn.green.btn-hollow:hover
{
	background:#21d376!important;
	color:#fff;
}

.btn-green.btn-hollow, .btn.green.btn-hollow {
    color: #0dbf62;
}


.btn-dark,.btn.dark
{
	background:#8190b5;
	color:#fff;
	border-color:#8190b5;
}

.btn-dark:hover,.btn.dark:hover
{
	background:#8b9abf;
	color:#fff;
	border-color:#8190b5;
}

.btn-dark.btn-hollow,.btn.dark.btn-hollow
{
	color:#7786ab;
}

.btn-dark.btn-hollow:hover,.btn.dark.btn-hollow:hover
{
	background:#8190b5!important;
	color:#fff;
}

.btn-red,.btn.red
{
	background:#ff595f;
	color:#fff;
	border-color:#ff595f;
}

.btn-red:hover,.btn.red:hover
{
	background:#ff6369;
	color:#fff;
	border-color:#ff595f;
}

.btn-red.btn-hollow,.btn.red.btn-hollow
{
	color:#f54f55;
}

.btn-red.btn-hollow:hover,.btn.red.btn-hollow:hover
{
	background:#ff595f!important;
	color:#fff;
}

.btn-blue,.btn.blue
{
	background:#21b1d3;
	color:#fff;
	border-color:#21b1d3;
}

.btn-blue:hover,.btn.blue:hover
{
	background:#2bbbdd;
	color:#fff;
	border-color:#21b1d3;
}

.btn-blue.btn-hollow,.btn.blue.btn-hollow
{
	color:#2bbbdd;
}

.btn-blue.btn-hollow:hover,.btn.blue.btn-hollow:hover
{
	background:#21b1d3!important;
	color:#fff;
}


.btn-warning {
background-color: #F6BB42;
border-color: #F6BB42;
}



.btn-flat,
.btn-icon-toggle {
  background-color: transparent;
  font-weight: 500;
  border-color: transparent;
}
.btn-flat:hover,
.btn-icon-toggle:hover,
.btn-flat:focus,
.btn-icon-toggle:focus,
.open .dropdown-toggle.btn-flat,
.open .dropdown-toggle.btn-icon-toggle {
  background-color: rgba(12, 12, 12, 0.07);
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: inherit;
}
.btn-flat:active,
.btn-icon-toggle:active,
.btn-flat.active,
.btn-icon-toggle.active {
  background-color: rgba(12, 12, 12, 0.25);
  border-color: transparent;
  color: #ffffff;
}
.btn-flat.disabled,
.btn-icon-toggle.disabled,
.btn-flat[disabled],
.btn-icon-toggle[disabled],
fieldset[disabled] .btn-flat,
fieldset[disabled] .btn-icon-toggle {
  background: transparent;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.fr {
    float: right;
}

.panel-title > .main h4 {
    font-size: 16px;
    float: left;
}

.panel-title > .main button {
    margin-top: 10px;
}

.panel-title > .main .btn-group button {
    margin-top: 10px;
}

.panel-title > .main > h4 > button {
    margin-top: 0px;
}

.field-section {
	padding-top: 6px
}


.field {
	/*margin-bottom: 20px;*/
	max-width: 950px
}

.field:last-child {
	border-bottom: none
}

.field h4 {
	font-size: 14px;
	margin-bottom: 10px
}

.field h4 span {
	color: #ff595f;
	margin: 0 3px
}

.field input[type=text] {
	height: 36px;
	width: 600px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
	max-width: 100%
}

.field input[type=radio] {
	margin-right: 0
}

.field select {
	margin-right: 5px;
	height: 30px
}

.field select:hover {
	border-color: #21d376
}

.field select+.radio {
	margin-left: 20px
}

.field textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 150px;
	width: 600px;
	display: block;
	margin-bottom: 15px;
	margin-top: 5px;
	padding: 10px
}

.field textarea+.hint {
	margin-top: -10px !important;
	font-size: 12px;
	color: #999;
	margin-bottom: 20px
}

.field textarea+.hint a {
	color: #0096c4
}

.field textarea+.hint a:hover {
	color: #48b6d7
}

.field .radio {
	display: inline-block;
	margin-right: 20px;
	line-height: 30px
}

.field .select-group {
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 3px
}

.field .select-group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.field .select-group select+[type=text] {
	width: 100px;
	height: 30px
}

.field .select-group:hover {
	background: #eff4f5
}

.field .select-group .remove {
	float: right;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background: #ff595f;
	text-align: center;
	line-height: 30px
}

.field .select-group .remove:hover {
	background: #f54f55
}

.field .select-group .remove:after {
	content: "\e115";
	font-family: "link-set";
	color: #fff;
	font-size: 16px
}

.field .select-group { position:relative;}
.field .select-group input.brline { display:block; margin:5px 0;}
.field .select-group .remove { position:absolute; top:5px; right:5px;}
.field .select-group label.newline { display:block; margin-top:10px;}
.field li { list-style:none;}
.field textarea + .hint.hint-viewtag { margin-bottom:7px;}
.field-operation { height:34px;}
.field-operation [type="submit"]{height: 34px;line-height: 34px; background: #fff; font-size: 14px; border-radius: 3px; padding: 0 12px; display: inline-block; border: 1px solid #e9eaed; color: #374051; background: #21d376; color: #fff; border-color: #21d376; float:right; cursor:pointer;}

.field .add-conditions {
	margin-left: 5px;
	color: #0096c4
}

.field .add-conditions:hover {
	color: #48b6d7
}

.field .add-conditions:before {
	content: "\e114";
	font-family: "link-set";
	font-size: 12px;
	height: 18px;
	width: 18px;
	line-height: 18px;
	text-align: center;
	border-radius: 100%;
	color: #fff;
	background: #21d376;
	margin-right: 0;
	display: inline-block;
	float: left;
	margin-right: 5px;
	position: relative;
	left: 5px
}

.field .ticket-rule-group label,.field .checkbox-group label {
	margin-right: 20px;
	margin-bottom: 10px;
	display: inline-block
}

.field .ticket-rule-group input[type=checkbox],.field .checkbox-group input[type=checkbox] {
	margin-right: 3px
}

.field.t-col {
	border-bottom: 1px solid #eff4f5;
	padding-bottom: 10px
}

.field.t-col:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.field.t-col h4 {
	width: 20%;
	float: left;
	line-height: 30px;
	margin-bottom: 0;
	padding-right: 10px
}

.field.t-col h4.ln {
	line-height: 30px
}

.field.t-col .t-col-content {
	width: 77%;
	float: right
}

.field.t-col .t-col-content>p {
	line-height: 30px;
	margin-bottom: 10px
}

.field.t-col .t-col-content>p+.hint {
	margin-top: -10px
}

.field.t-col .t-col-content>.hint {
	line-height: 1.6em;
	margin-bottom: 15px;
	margin-top: 5px
}

.field.t-col .t-col-content>.hint a {
	color: #0096c4
}

.field.t-col .t-col-content>.hint a:hover {
	color: #48b6d7
}

.field.b-col {
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 10px
}

.field.b-col:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.field.b-col:hover {
	background: #eff4f5
}

.field.b-col+hr {
	margin-top: 20px
}

.field.b-col .col-md-2 input[type=text] {
	width: 240px
}

.field.b-col .col-md-2 textarea {
	width: 240px;
	display: inline-block;
	height: 100px
}

.field.b-col .col-md-2 select {
	margin-right: 0
}

.field.t-col .t-col-content p+.hint {
	margin-top: -10px
}

.t-col-content h5 {
	margin-bottom: 5px
}

.t-col-content input[type=text],.t-col-content input[type=number] {
	height: 30px;
	width: 400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px
}

.select-area {
	border: 1px solid #e9eaed;
	padding: 15px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 10px
}

.select-area:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.select-area li {
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 3px
}

.select-area li:hover {
	background: #eff4f5
}

.select-area li:last-child {
	margin-bottom: 0
}

.select-area input[type=text] {
	width: 300px
}

.select-area .remove {
	float: right;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 100%;
	background: #ff595f
}

.select-area .remove:hover {
	background: #f54f55
}

.select-area .remove:after {
	content: "\e115";
	font-family: "link-set";
	color: #fff;
	font-size: 16px
}

.select-area .delete {
	margin-top: 10px;
	float: right;
	font-size: 14px;
	color: #0096c4
}

.select-area .delete:hover {
	color: #48b6d7
}

.select-area .select-group {
	padding: 0;
	margin: 0
}

.select-area .add-conditions {
	display: inline-block;
	margin-top: 10px;
	margin-left: 0
}

.select-area .add-conditions:before {
	margin-right: 10px
}

.select-area~.hint {
	line-height: 1.6em !important
}

.select-father-list {
	width: 33%;
	position: relative;
	margin-left: -1px;
	float: left
}

.select-father-list p {
	margin-bottom: 5px
}

.select-father-list ul {
	padding: 5px 0;
	border: 1px solid #e9eaed;
	height: 300px;
	overflow-y: auto
}

.select-father-list li {
	border-left: 2px solid #fff;
	border-radius: 0;
	padding: 5px 10px;
	margin-bottom: 0
}

.select-father-list li:hover {
	border-left-color: #eff4f5
}

.select-father-list li.active {
	background: #eff4f5;
	border-left-color: #21d376
}

.select-father-list input[type=text] {
	width: 160px
}

.select-father-list .remove {
	font-size: 12px;
	color: #0096c4;
	background: none !important;
	display: inline
}

.select-father-list .remove:hover {
	color: #48b6d7
}

.select-father-list .remove:after {
	display: none
}

.select-child-list {
	float: right;
	width: 33%
}

.select-child-list p {
	margin-bottom: 5px
}

.select-child-list ul {
	padding: 5px 0;
	border: 1px solid #e9eaed;
	height: 300px;
	overflow-y: auto
}

.select-child-list li {
	border-radius: 0;
	margin-bottom: 0;
	padding: 0
}

.select-child-list li>a {
	padding: 8px 10px;
	display: block
}

.select-child-list li>a:after {
	content: "\e116";
	font-family: "link-set";
	height: 20px;
	line-height: 20px;
	width: 20px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	float: right;
	background: #fff;
	border: 1px solid #e9eaed;
	border-radius: 100%
}

.select-child-list li>a:hover:after {
	border-color: #d5d6d9
}

.select-child-list .active>a::after {
	background: #21d376;
	border-color: #21d376 !important
}



