<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 <system.webServer>
    <handlers accessPolicy="Read, Script">
      <add name="Json" path="*.json" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%IIS_BIN%\asp.dll" resourceType="File"/>
    </handlers>
    <!---设置默认值-->
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
 <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 是否是动态数据库连接方式 -->
    <add key="DBConType" value="false"/>
    <!--测试数据库-->
    <add key="ConnectionString" value="server=127.0.0.1;database=homecoming;uid=root;pwd=root;charset=gbk;pooling=true"/>
    <add key="MySql" value="server=127.0.0.1;database=homecoming;uid=root;pwd=linkdev;charset=gbk;pooling=true"/>
    <!--<add key="homecoming" value="server=127.0.0.1;database=homecoming;uid=root;pwd=linkdev;charset=gbk;pooling=true"/>-->
  </appSettings>

 <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>