
.icon-emo-beer:before { content: '\e800'; } /* '' */
.icon-emo-grin:before { content: '\e801'; } /* '' */
.icon-emo-angry:before { content: '\e802'; } /* '' */
.icon-emo-saint:before { content: '\e803'; } /* '' */
.icon-emo-cry:before { content: '\e804'; } /* '' */
.icon-emo-shoot:before { content: '\e805'; } /* '' */
.icon-spin3:before { content: '\e806'; } /* '' */
.icon-spin1:before { content: '\e807'; } /* '' */
.icon-spin4:before { content: '\e808'; } /* '' */
.icon-spin5:before { content: '\e809'; } /* '' */
.icon-spin2:before { content: '\e80a'; } /* '' */
.icon-spin6:before { content: '\e80b'; } /* '' */
.icon-firefox:before { content: '\e80c'; } /* '' */
.icon-chrome:before { content: '\e80d'; } /* '' */
.icon-opera:before { content: '\e80e'; } /* '' */
.icon-ie:before { content: '\e80f'; } /* '' */
.icon-crown:before { content: '\e810'; } /* '' */
.icon-crown-plus:before { content: '\e811'; } /* '' */
.icon-crown-minus:before { content: '\e812'; } /* '' */